/* Hypredit Script Rofi Config */

@theme "~/.cache/wal/colors-rofi-dark.rasi"

configuration {
    modi: "drun";
    show-icons: false;
    display-drun: "";
    drun-display-format: "{name}";
}

* {
    background-color: @background;
    text-color:         @foreground;
    font: "Radio Canada Big 12";
    margin:     0px;
    padding:    0px;
    spacing:    0px;
}

window {
    location:       north;
    y-offset:       calc(50% - 176px);
    width:          285;
    border: 2px;
    border-color: @selected-normal-background;
    border-radius:  16px;
}

mainbox {
    padding:    12px;
}

inputbar {
    background-color:   transparent;
    border:         2px;
    border-color: @selected-normal-background; 
    border-radius:  10px;
    padding:    10px 16px;
    spacing:    8px;
    children:   [ prompt, entry ];
}

prompt {
    background-color: transparent;
}

entry {
    background-color: transparent;
    font: "Radio Canada Big 13";
}

message {
    background-color: transparent;
    margin:             12px 0 0;
    border-radius:      16px;
    border-color:       #ffffff;
}

textbox {
    background-color: transparent;
    padding:    8px 24px;
}

listview {
    background-color:   transparent;
    margin:     12px 0 0;
    lines:      7;
    columns:    1;
    fixed-height: false;
}

element {
    background-color: transparent;
    padding:        8px 16px;
    spacing:        15px;
    border-radius:  16px;
}

element normal active {
    background-color: transparent;
    text-color: #ffffff;
}

element alternate active {
    background-color: transparent;
    text-color: #ffffff;
}

element selected normal, element selected active {
    background-color: @selected-normal-background;
    border-radius: 10px;
    border: 1px;
    color: @selected-normal-foreground;
}

element-text {
    background-color: transparent;
    text-color: inherit;
}

